<h1></h1>
<head> Sign up</head>
<form>
    <div class="container">
        <label><b>First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required placeholder="Enter First Name"
        title="First Name"
        value=""><label><br>
        <label><b>Last Name:</b>
        <input type="text" id="lname" name="account_lastname" required
        placeholder="Enter Last Name"
        title="Last Name"
        value=""></label><br>
        <label><b>Email:</b>
        <input type="email" id="email" name="account_email" required
        placeholder="Enter Email"
        title="Format: example@example.com"
        value=""></label><br>
        <label><b>Password:</b>
        <input type="password" id="password" name="account_password" required
        placeholder="Enter Password"
        pattern="?"

</form>
