<div id="header_container">
    <img id="logo" src="/images/time_management.jpg" alt="Time Management Logo">
    <h1 class="header_title"><%- title %></h1>
    <div id="button_area">
        <a class="header_button" href="#">Register</a>
        <a class="header_button" href="#">Login</a>
    </div>
</div>

