<nav>
    <ul class="navigation">
        <% if (title == 'Home') { %>
            <li><a href="/" class="active">Home</a></li>
        <% } else { %>
            <li><a href="/">Home</a></li>
        <% } %>
        <li><a href="/account">My Account</a></li>
        <li><a href="/account/schedule">My Schedule</a></li>
    </ul>
</nav>